:root{
    --main-color:#f9ca24;
}

.is-borderless{
    border:0px;
}

.sub-judul:after{
    content: "";
    position: absolute;
    width: 125px;
    height: 50px;
    bottom: 0;
    margin-left:-120px;
    border-bottom: 10px solid #2d3436;
}

.sub-judul{
    position: relative;
}

/* The Image container */
.img-hover-zoom {
  max-height: 300px;
  height: 300px; /* [1.1] Set it as per your need */
  overflow: hidden; /* [1.2] Hide the overflowing of child elements */
}

/* [2] Transition property for smooth transformation of images */
.img-hover-zoom img {
  transition: transform .5s ease;
  height: inherit;
  width: 100% !important;
}

/* [3] Finally, transforming the image when container gets hovered */
.img-hover-zoom:hover img {
  transform: scale(1.5);
  padding-bottom: 0px;
  margin-bottom: 0px;
}

.galeri{
  height: fit-content;
  margin-bottom: 0px !important;
}

@media screen and (max-width: 1407px) {
  .container.is-fullhd {
    max-width: 1344px;
  }
}

hr {
  /* border-color: black; */
  background-color: #424242;
  height: 5px;
  border-radius: 2px;
}

img.shadowImage {
  border-radius: 8px;
  box-shadow: 0 10px 20px 0 grey, 0 10px 10px 0 grey;
}

.whiteText {
  color: #dcdde1;
}

img.absolute {
  position: absolute;
  z-index: 0;
  margin: 0px;
}

.cardContact {
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  width: 100%;
  height: 550px;
  border-radius: 20px;
  z-index: 1;
}

.cardContact:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}